<h1>Create Recipe</h1>

<form action="/recipes/create-recipe" method="post" id="1000">

    <br>
    recipeName
    <input type="text" name="recipeName">
    <br>
    products
    <textarea name="products"></textarea>
    <br>
    prepTime
    <input type="number" name="prepTime">
    <br>
    cookTime
    <input type="number" name="cookTime">
    <br>
    directions
    <textarea name="directions"></textarea>
    <br>
    difficulty
    <input type="number" name="difficulty">
    <br>

    <button type="submit">share recipe</button>


</form>