<h1>Create Recipe</h1>

<form name="uploader" action="/recipes/create-recipe" method="post" >

    <br>
    recipeName
    <input type="text" name="recipeName">
    <br>
    products
    <textarea name="products"></textarea>
    <br>
    prepTime
    <input type="number" name="prepTime">
    <br>
    cookTime
    <input type="number" name="cookTime">
    <br>
    directions
    <textarea name="directions"></textarea>
   
    <br>
    difficulty
    <input type="number" name="difficulty">
    <br> 
    image1
    <input type="file"  name="image1"  id="file" >
    <br>
    image2
    <input type="file" name="image2">
    <br>

    <button type="submit">share recipe</button>


</form>



<form  action="/recipes/create-recipe" method="post" >

    image
    <input type="file" name="image">
    <br>

    <button type="submit">share recipe</button>


</form>