<h1>Upload Images</h1>

<form enctype="multipart/form-data" action="/recipes/create-recipe/images" method="post">

    image2
    <input type="file" name="image2">
    <br>

    <button name="upload" type="submit">Upload Images</button>

</form>