<form action="/users/register" method="post">
username
    <input type="text" name="username">
email
    <input type="text" name="email" >
pass
    <input type="text" name="password" >

    <button type="submit">login</button>

</form>